<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <h1 style="text-align: center">Recipe App</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="meals$ | async as meals">
    <ion-row>
      <ion-col *ngFor="let meal of meals" size="6"
        [routerLink]="['/meal', meal.idMeal]" 
        routerDirection="forward" 
      >
        <img [src]="meal.strMealThumb" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
